:root {
    --primary-color: #0008F1;
    --secondary-color: #1eabdb;
    --accent1-color: #F1FF2E;
    --accent2-color: #ff0000; 
    --extra-font: "Shadows Into Light";
    --paragraph-font: Play, Helvetica, sans-serif;
    --heading-font: Copperplate;
    --fancy-font: Papyrus;
  }
body {
    background-color:#F1FF2E;
    font-size: 22px;
    width: 1400px;
    margin: 0;
    padding: 0;
}
#title {
    display: flex;
    justify-content: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
}
nav a {
    font-family: var(--heading-font);
    text-align: center;
    color: #ff0000;
    text-decoration: none;
    padding: 25px;
    margin-top: 30px;
}
nav a:hover {
    background-color: #1eabdb;
    color: #0008F1;
    padding: 15px;
}
h1 {
    font-family: var(--fancy-font);
    font-size: 2.5em;
    text-align: center;
    color: #0008F1;
    padding: 25px;
}
h4 {
    font-family: var(--paragraph-font);
    font-size: 2.5em;
    text-align: center;
    color: #0008F1;
    padding: 25px;
}
#home-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
}
.logo {
    max-height: 125px;
    padding: 25px;
}

#mytext {
    font-size: 1.5em;
    grid-column: 1/2;
}
.resume-img {
    width: 750px;
    grid-column: 2/4;
    grid-row: 1/4;
}
.side {
    max-width: 100%;
    width: 250px;
}
footer a:hover {
    color: #1eabdb;
}
footer p, footer a {
    font-family: var(--heading-font);
    color: #ff0000;
    font-size: 1em;
    padding: 30px;
    margin-left: 15px;
}
footer {
    display: flex;
    align-items: center;
    margin: 50px;
}
.social {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

/* this is my child page 1 achievements css*/
#home-grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
    margin: 30px;
}
#home-grid1 h5 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    max-width: 500px;
    margin-left: 40px;
}    
.employeeofquarter-img {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    justify-self: start;
    max-width: 850px;
    margin-right: 200px;
    margin-bottom: 20px;
}
.cyberguy-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
    max-width: 500px;
    max-height: 333px;
    margin-left: 175px;
}
.cybersecurity-img {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    justify-self: center;
    max-width: 600px;
}
.PCPRO-img {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    margin-right: 40px;
    max-width: 600px;  
}
.introphp-img {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin-left: 40px;
    max-width: 700px;
}

/* child page 2 css code */
#home-grid2 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}
#home-grid2 h3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    font-size: 20px;
    width: 950px;
    margin-right: 50px;
}
.cyber5-img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-left: 50px;
}
.cyberdragons2-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: 50px;
}
.cyberpower-img {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-left: 50px;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    left: -150px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 20px; /* 15px padding */
    width: 175px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 25px; /* Increase font size */
    color: #F1FF2E; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  } 
  /* The about link: 20px from the top with a green background */
  #index {
    top: 20px;
    background-color: #ff0000;
  }
  #achievements {
    top: 80px;
    background-color: #0008F1; /* Blue */
  } 
  #about {
    top: 140px;
    background-color: #ff0000; /* Red */
  }
  #site-plan {
    top: 200px;
    background-color:#1eabdb /* Light Black */
  }
